.page {
  color: var(--text-white);
  padding: 2rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.header {
  margin-top: 0.5rem;
  text-align: center;
}

.hr {
  display: block;
  margin-block: 2rem;
  color: var(--primary);
  background-color: var(--primary);
  border-block: 2px solid var(--primary);
  box-shadow: 0 0 7px 1px var(--primary);
  width: 100%;
}

.content {
  display: flex;
  width: 100%;
  margin-block: 2.5rem;
  margin-inline: 1rem;
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-width: 400px;
  border-radius: 1rem;
  padding-block: 0.75rem;
}

.content img {
  display: block;
  width: 90%;
  height: auto;
  object-fit: contain;
  border-radius: 1rem;
  box-shadow: 0 0 10px 1px var(--primary);
}

.content h2 {
  margin-right: auto;
  text-align: center;
}

.content p {
  display: block;
  text-align: justify;
  margin: 1rem;
  margin-inline: 2rem;
  line-height: 1.45;
}

.content p::first-line {
  line-height: 1.15;
}

.content p::first-letter {
  font-size: 24px;
}

.lowerWrapper {
  margin-inline: 1rem;
  margin-top: 2rem;
  display: flex;
  width: 100%;
  gap: 2.5rem;
}

.socials {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  font-weight: 700;
}

.socialsWrapper {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  padding: 2rem;
  border-radius: var(--radius);
  background-color: var(--text-secondary);
  border: 1px solid #444;
  box-shadow: var(--btn-shadow);
}

.socialsHeader {
  font-size: 32px;
  margin-inline: 2rem;
  text-align: center;
}

.socials a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  display: block;
  justify-self: flex-end;
  text-align: center;
  margin-top: 3rem;
}

.contact {
  width: 50%;
}

.footer {
  display: none;
}

@media screen and (max-width: 1000px) {
  .content img {
    height: auto;
    object-fit: contain;
  }

  .socialsWrapper {
    width: 45%;
    padding: 1rem 1.5rem;
  }

  .socialsHeader {
    font-size: 28px;
    margin-inline: 0;
  }

  .contact {
    width: 55%;
  }
}

@media screen and (max-width: 900px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .content h2 {
    margin-block: 0.75rem;
  }

  .imageWrapper {
    padding-block: 1rem;
  }

  .content img {
    display: block;
    width: 85%;
    filter: none;
    box-shadow: 0 0 10px 1px var(--primary);
    max-width: 100%;
  }

  .lowerWrapper {
    margin-inline: initial;
    gap: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .page {
    overflow: hidden;
    padding: 1.25rem;
  }

  .header {
    width: 100%;
    margin-block: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .content {
    margin-inline: 0;
    margin-block: initial;
  }

  .content p {
    margin-inline: 0.5rem;
  }

  .imageWrapper {
    min-width: initial;
    width: 106%;
  }
  .content img {
    width: 91%;
    min-width: initial;
  }

  .lowerWrapper {
    flex-direction: column-reverse;
    align-items: center;
    gap: 3rem;
    margin-top: 3.5rem;
  }

  .contact {
    width: 100%;
  }

  .socialsWrapper {
    width: 100%;
  }

  .footer {
    display: block;
  }
}
