.swipeButton {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: var(--text-white);
    width: 15%;
    filter: opacity(0.5);
    transition: filter 0.2s ease;
}

.swipeButton:hover {
    filter: opacity(1)
}

.swipeButtonRight {
    right: 0;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.9), transparent);
}

.swipeButtonLeft {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), transparent);
    left: 0;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    gap: 100%;
}