.swipeButtons {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    z-index: 15;
    pointer-events: none;
    border: none;
    background-image: none;
}

.swipeButton {
    pointer-events: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: var(--text-white);
    width: 15%;
    filter: opacity(0.5);
    transition: filter 0.2s ease;
}

.swipeButton:hover {
    filter: opacity(1)
}

.swipeButtonRight {
    right: 0;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.9), transparent);
}

.swipeButtonLeft {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), transparent);
    left: 0;
}

.carousel {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: auto;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

.carousel>div {
    min-width: calc(100vw - var(--sidebar-width));
    display: flex;
    justify-content: center;
    scroll-snap-align: center;
}



.initialButton {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 5%;
    color: var(--text-white);
    width: 100%;
}

.last {

    /* 1/2 tego co gap */
}

.first {

    /* 1/2 tego co gap */
}

.intitial {}

@media screen and (max-width: 1000px) {
    .swipeButton {
        width: 10%;
    }

    .carousel>div {
        min-width: calc(100vw - var(--sidebar-width-sm));
        max-width: calc(100vw - var(--sidebar-width));
        display: flex;
        justify-content: center;
    }
}




@media screen and (max-width: 600px) {
    .carousel {
        gap: 10%;
    }

    .carousel>div {
        min-width: calc(100vw);
        max-width: calc(100vw - var(--sidebar-width));
        display: flex;
        justify-content: center;
    }

    .swipeButtons {
        height: var(--navbar-height-bottom);
        background: var(--primary);
        display: flex;
        flex-direction: row;
        position: fixed;
        bottom: 0;
    }
}

@media screen and (max-width: 600px) and (min-height: 800px) {
    .carousel {
        margin-top: 2rem;
    }
}