.title {
    font-size: clamp(1.2rem, 2vw, 2rem);
    color: #eee;
}

.zestawyWrapper {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 1rem;
    padding: 2rem;
    width: 100%;
}

.list {
    color: #eee;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1.5rem;
}



.zestaw {
    padding: 1rem 1.25rem;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: space-between;
    border: var(--border);
    border-radius: var(--radius);
    background-image: var(--btn-gradient-hero);
    color: var(--text-secondary);
}

.right {
    display: block;
    object-fit: cover;
    position: relative;
}

.zestawName {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    font-weight: 700;
    margin-bottom: 0.25rem;
}

@media screen and (max-width: 1000px) {
    .zestawyWrapper {
        padding: 0.75rem 1rem;
    }
}

@media screen and (max-width: 600px) {
    .zestawyWrapper {
        padding: 0.5rem 0.75rem;
    }
}