.title {
    font-size: clamp(1.2rem, 2vw, 2rem);
    color: var(--text-white);
    margin-bottom: 0.5rem;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.zestawyWrapper {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 1rem;
    padding: 2rem;
    width: 100%;
}

.list {
    color: var(--text-white);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(385px, 1fr));
    gap: 2rem;

}


@media screen and (max-width: 1500px) {
    /* .zestawyWrapper {
        padding: 0.25rem 0.5rem;
    } */
}

@media screen and (max-width: 1000px) {
    .zestawyWrapper {
        padding: 0.75rem 1rem;
    }
}

@media screen and (max-width: 600px) {
    .zestawyWrapper {
        padding: 0.25rem 0.25rem;
    }

    .list {
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        gap: 1.25rem;
    }

    .title {
        margin-top: 1rem;
        font-size: 2rem;
        color: var(--text-white);
        text-align: center;
    }
}